USE [master]
GO
/****** Object:  Database [Expresso_Sample]    Script Date: 8/31/2026 1:36:58 PM ******/
CREATE DATABASE [Expresso_Sample]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Expresso_Sample', FILENAME = N'/var/opt/mssql/data/Expresso_Sample.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Expresso_Sample_log', FILENAME = N'/var/opt/mssql/data/Expresso_Sample_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Expresso_Sample].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Expresso_Sample]
GO
/****** Object:  Table [dbo].[author]    Script Date: 8/31/2026 1:36:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[author](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [nvarchar](100) NOT NULL,
	[last_name] [nvarchar](100) NOT NULL,
	[display_name] [nvarchar](100) NOT NULL,
	[date_of_birth] [date] NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_author] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[award]    Script Date: 8/31/2026 1:36:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[award](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[author_id] [int] NOT NULL,
	[title] [nvarchar](300) NOT NULL,
	[year] [smallint] NOT NULL,
 CONSTRAINT [PK_award] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[book]    Script Date: 8/31/2026 1:36:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[book](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](500) NOT NULL,
	[year] [smallint] NOT NULL,
	[isbn] [nvarchar](20) NULL,
	[publisher_id] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[rating] [float] NOT NULL,
	[price] [decimal](8, 2) NOT NULL,
	[external_id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_book] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[book_author]    Script Date: 8/31/2026 1:36:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[book_author](
	[book_id] [int] NOT NULL,
	[author_id] [int] NOT NULL,
 CONSTRAINT [PK_book_author] PRIMARY KEY CLUSTERED 
(
	[book_id] ASC,
	[author_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[publisher]    Script Date: 8/31/2026 1:36:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[publisher](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](300) NOT NULL,
	[country] [nvarchar](50) NOT NULL,
	[location] [nvarchar](100) NULL,
	[opens_at] [time](0) NOT NULL,
	[closes_at] [time](0) NOT NULL,
 CONSTRAINT [PK_publisher] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[author] ON 

INSERT [dbo].[author] ([id], [first_name], [last_name], [display_name], [date_of_birth], [created_at]) VALUES (0, N'George', N'Orwell', N'George Orwell', CAST(N'1899-07-02' AS Date), CAST(N'2022-03-14T02:12:45.0000000' AS DateTime2))
INSERT [dbo].[author] ([id], [first_name], [last_name], [display_name], [date_of_birth], [created_at]) VALUES (1, N'Virginia', N'Woolf', N'Virginia Woolf', CAST(N'1947-06-22' AS Date), CAST(N'2003-07-31T18:30:16.0000000' AS DateTime2))
INSERT [dbo].[author] ([id], [first_name], [last_name], [display_name], [date_of_birth], [created_at]) VALUES (2, N'Haruki', N'Murakami', N'Haruki Murakami', CAST(N'1949-01-12' AS Date), CAST(N'2008-09-03T09:24:22.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[author] OFF
GO
SET IDENTITY_INSERT [dbo].[award] ON 

INSERT [dbo].[award] ([id], [author_id], [title], [year]) VALUES (1, 3, N'Posthumous literary acclaim', 1817)
INSERT [dbo].[award] ([id], [author_id], [title], [year]) VALUES (2, 5, N'Nobel Prize in Literature', 1901)
INSERT [dbo].[award] ([id], [author_id], [title], [year]) VALUES (3, 5, N'Pushkin Medal', 1884)
SET IDENTITY_INSERT [dbo].[award] OFF
GO
SET IDENTITY_INSERT [dbo].[book] ON 

INSERT [dbo].[book] ([id], [title], [year], [isbn], [publisher_id], [created_at], [rating], [price], [external_id]) VALUES (0, N'1984', 2007, N'978-0451524935', 0, CAST(N'2016-11-15T09:25:11.0000000' AS DateTime2), 9.3, CAST(72.94 AS Decimal(8, 2)), N'550e8400-e29b-41d4-a716-446655440000')
INSERT [dbo].[book] ([id], [title], [year], [isbn], [publisher_id], [created_at], [rating], [price], [external_id]) VALUES (1, N'Animal Farm', 1997, N'978-0451526342', 1, CAST(N'2000-07-30T21:41:20.0000000' AS DateTime2), 7.7, CAST(41.66 AS Decimal(8, 2)), N'6ba7b810-9dad-11d1-80b4-00c04fd430c8')
INSERT [dbo].[book] ([id], [title], [year], [isbn], [publisher_id], [created_at], [rating], [price], [external_id]) VALUES (2, N'Homage to Catalonia', 2024, N'978-0156421171', 2, CAST(N'2008-02-01T05:47:59.0000000' AS DateTime2), 7.6, CAST(83.02 AS Decimal(8, 2)), N'fd27a81d-6d0a-4a9f-8e27-0ff2460e5991')
GO
SET IDENTITY_INSERT [dbo].[book] OFF
GO
INSERT [dbo].[book_author] ([book_id], [author_id]) VALUES (0, 0)
INSERT [dbo].[book_author] ([book_id], [author_id]) VALUES (1, 0)
INSERT [dbo].[book_author] ([book_id], [author_id]) VALUES (2, 0)
GO
SET IDENTITY_INSERT [dbo].[publisher] ON 

INSERT [dbo].[publisher] ([id], [name], [country], [location], [opens_at], [closes_at]) VALUES (0, N'Northwind Literary Press', N'United States', N'Chicago', CAST(N'09:00:00' AS Time), CAST(N'17:00:00' AS Time))
INSERT [dbo].[publisher] ([id], [name], [country], [location], [opens_at], [closes_at]) VALUES (1, N'Silver Quill Publishing', N'United Kingdom', N'London', CAST(N'08:30:00' AS Time), CAST(N'16:30:00' AS Time))
INSERT [dbo].[publisher] ([id], [name], [country], [location], [opens_at], [closes_at]) VALUES (2, N'Amber Gate Books', N'Canada', N'Toronto', CAST(N'09:00:00' AS Time), CAST(N'17:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[publisher] OFF
GO
/****** Object:  Index [IX_award_author_id]    Script Date: 8/31/2026 1:36:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_award_author_id] ON [dbo].[award]
(
	[author_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_book_publisher_id]    Script Date: 8/31/2026 1:36:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_book_publisher_id] ON [dbo].[book]
(
	[publisher_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_book_external_id]    Script Date: 8/31/2026 1:36:58 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_book_external_id] ON [dbo].[book]
(
	[external_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_book_author_author_id]    Script Date: 8/31/2026 1:36:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_book_author_author_id] ON [dbo].[book_author]
(
	[author_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[author] ADD  CONSTRAINT [DF_author_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[book] ADD  CONSTRAINT [DF_book_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[book] ADD  CONSTRAINT [DF_book_external_id]  DEFAULT (newid()) FOR [external_id]
GO
ALTER TABLE [dbo].[publisher] ADD  CONSTRAINT [DF_publisher_opens_at]  DEFAULT ('09:00:00') FOR [opens_at]
GO
ALTER TABLE [dbo].[publisher] ADD  CONSTRAINT [DF_publisher_closes_at]  DEFAULT ('17:00:00') FOR [closes_at]
GO
ALTER TABLE [dbo].[award]  WITH CHECK ADD  CONSTRAINT [FK_award_author] FOREIGN KEY([author_id])
REFERENCES [dbo].[author] ([id])
GO
ALTER TABLE [dbo].[award] CHECK CONSTRAINT [FK_award_author]
GO
ALTER TABLE [dbo].[book]  WITH CHECK ADD  CONSTRAINT [FK_book_publisher] FOREIGN KEY([publisher_id])
REFERENCES [dbo].[publisher] ([id])
GO
ALTER TABLE [dbo].[book] CHECK CONSTRAINT [FK_book_publisher]
GO
ALTER TABLE [dbo].[book_author]  WITH CHECK ADD  CONSTRAINT [FK_book_author_author] FOREIGN KEY([author_id])
REFERENCES [dbo].[author] ([id])
GO
ALTER TABLE [dbo].[book_author] CHECK CONSTRAINT [FK_book_author_author]
GO
ALTER TABLE [dbo].[book_author]  WITH CHECK ADD  CONSTRAINT [FK_book_author_book] FOREIGN KEY([book_id])
REFERENCES [dbo].[book] ([id])
GO
ALTER TABLE [dbo].[book_author] CHECK CONSTRAINT [FK_book_author_book]
GO
USE [master]
GO
